[Unit]
Description=Download provider service
After=check-mount.service

[Service]
User=web_fw
Group=web_fw
SupplementaryGroups=priv_mediastorage
Type=simple
ExecStart=/usr/bin/download-provider
MemoryLimit=100M

[Install]
WantedBy=graphical.target

