[Unit]
Description=Download provider service
After=check-mount.service

[Service]
Type=simple
ExecStart=/usr/bin/download-provider

[Install]
WantedBy=graphical.target

